@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}

.image-button {
  background-image: url("./imagens/icon-dice.svg");
  background-repeat: no-repeat;
  background-position: center;
}
